@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400;1,600&display=swap");

.jumbotron {
  padding-top: 10rem;
  padding-bottom: 3rem;
  background-image: url(/images/heroimage3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  min-height: auto;
  background-color: antiquewhite;
  background-image: url(/images/bgtexture.png);
}
section h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 750;
}
.navbar li a {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: white;
  font-size: larger;
}

.testimoni1 {
  size: 500px;
}

footer {
  background-color: #eeb319;
  display: flex;
  vertical-align: middle;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}
.prod img {
  height: 415px;
  width: 400px;
  border: 8px solid #eeb319;
}
.prod:nth-child(2) {
  transition-delay: 300ms;
}
.prod:nth-child(3) {
  transition-delay: 600ms;
}
.prod:nth-child(4) {
  transition-delay: 900ms;
}
.prod:nth-child(5) {
  transition-delay: 1200ms;
}
.prod:nth-child(6) {
  transition-delay: 1500ms;
}

#myBtn {
  background: transparent;
  border: none;
}
